{{>partials/admin/adminHeader}}
    <main>
        <h2 class="my-4 text-bold text-[#E47B38] text-3xl">Marcados para hoje - {{formattedDate}}</h2>
        <ul>
            {{#todayList}}
                <li class="w-80 my-3 p-4 border-l-4 border-[#E47B38] rounded text-white bg-[#374A90]">
                    <div class="border-b-2 border-white">
                        <span class="font-bold">E-mail:</span> {{email}}
                    </div>

                    <div class="my-4 border-b-2 border-white">
                        <span class="font-bold">Data:</span> {{date}}
                    </div>  

                    <div class="my-4 border-b-2 border-white">
                        <span class="font-bold">Hora:</span> {{hour}}
                    </div> 
                </li>
            {{/todayList}}
            {{^todayList}}
                <p class="text-bold text-[#374A90] text-2xl">Nenhum registro foi encontrado</p>
            {{/todayList}}
        </ul>

        <h2 class="my-4  text-bold text-[#E47B38] text-3xl">Próximos dias</h2>
        <ul>
            {{#list}}
            <li class="w-80 my-3 p-4 border-l-4 border-[#E47B38] rounded text-white bg-[#374A90]">
                <div class="border-b-2 border-white">
                    <span class="font-bold">E-mail:</span> {{email}}
                </div>

                <div class="my-4 border-b-2 border-white">
                    <span class="font-bold">Data:</span> {{date}}
                </div>  

                <div class="my-4 border-b-2 border-white">
                    <span class="font-bold">Hora:</span> {{hour}}
                </div> 
            </li>
            {{/list}}
            {{^list}}
                <p class="text-bold text-[#374A90] text-2xl">Nenhum registro foi encontrado</p>
            {{/list}}
        </ul>

        <hr/>
        <h2 class="my-4 text-bold text-[#E47B38] text-3xl">Pesquise por uma data:</h2>
        
        <form action="/search-confirmed" method="get">
            <input type="date" name="search" id='search-date' class="pl-1 rounded bg-slate-100 outline-none border-b-2 text-black border-white focus:border-b-2 focus:border-[#374A90]">
            <input type="submit" value="pesquisar" class="p-1 ml-2 rounded cursor-pointer transition ease-in text-white bg-[#374A90]">
        </form>
        
        <script>
            // Obtém a referência ao elemento do input de data
            const inputData = document.getElementById('search-date');

            // Obtém a data atual no formato "YYYY-MM-DD" e atribui ao atributo min do input de data
            const dataAtual = new Date().toISOString().split('T')[0];
            inputData.min = dataAtual;
        </script>
    </main>
</body>
</html>