<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Marcados para hoje - {{formattedDate}}</h2>
    <ul>
        {{#todayList}}
            <li>Nome: {{name}} <br/> E-mail: {{email}}</li> <br/>
        {{/todayList}}
        {{^todayList}}
            <p>Nenhum registro foi encontrado</p>
        {{/todayList}}
    </ul>

    <h2>Próximos dias</h2>
    <ul>
        {{#list}}
            <li>
                <fieldset>
                    E-mail: {{email}} - Data: {{date}}
                </fieldset>
            </li> <br/>
        {{/list}}
        {{^list}}
            <p>Nenhum registro foi encontrado</p>
        {{/list}}
    </ul>

    <hr/>
    <h2>Pesquise por uma data:</h2>
    
    <form action="/search-confirmed" method="get">
        <input type="date" name="search" id='search-date'>
        <input type="submit" value="pesquisar">
    </form>
    
    <script>
        // Obtém a referência ao elemento do input de data
        const inputData = document.getElementById('search-date');

        // Obtém a data atual no formato "YYYY-MM-DD" e atribui ao atributo min do input de data
        const dataAtual = new Date().toISOString().split('T')[0];
        inputData.min = dataAtual;
    </script>
</body>
</html>