<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST">
        <label for="date" class="font-bold">Digite sua data de nascimento:</label> <br>
            <input type="date" name="date" id="date" required class="pl-1 rounded bg-slate-100 outline-none border-b-2 text-black border-white focus:border-b-2 focus:border-[#374A90]"> <br><br>

            <label for="email" class="font-bold">Digite seu e-mail:</label> <br>
            <input type="email" name="email" id="email" required class="pl-1 rounded bg-slate-100 outline-none border-b-2 text-black border-white focus:border-b-2 focus:border-[#374A90]"> <br><br>

            <label for="phone" class="font-bold">Digite seu número de telefone:</label> <br>
            <input type="text" name="phone" id="phone" required class="pl-1 rounded bg-slate-100 outline-none border-b-2 text-black border-white focus:border-b-2 focus:border-[#374A90]"> <br><br>

            <button>Enviar</button>
    </form>

    <script>
        // date 
        const birthDateInput = document.getElementById("date");

        const today = new Date();
        const maxAgeDate = new Date(today.getFullYear() - 18, today.getMonth(), today.getDate());

        const maxYear = maxAgeDate.getFullYear();
        const maxMonth = (maxAgeDate.getMonth() + 1).toString().padStart(2, '0');
        const maxDay = maxAgeDate.getDate().toString().padStart(2, '0');
        birthDateInput.setAttribute("max", `${maxYear}-${maxMonth}-${maxDay}`);

        // form 
        const form = document.querySelector('form');

        form.addEventListener('submit', async (event) => {
            event.preventDefault();

            const date = form.querySelector('[name="date"]').value;
            const email = form.querySelector('[name="email"]').value;
            const phone = form.querySelector('[name="phone"]').value;

            const requestData = {
                date,
                email,
                phone
            };

            try {
                const response = await fetch('/forgot-password', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(requestData)
                });

                const responseData = await response.json();

                if (response.status === 400) {
                    if(responseData.errors) {
                        alert(responseData.errors);
                    } else if(responseData.error) {
                        alert(responseData.error);
                    }
                } else if(response.status === 429) {
                    alert(responseData.limitError);
                } else if(response.status === 200) {
                   window.location.href = '/question';
                }
            } catch (error) {
                alert('Ocorreu um erro ao processar sua solicitação. Por favor, tente novamente mais tarde.');
            }
        });
    </script>
</body>
</html>