{{>partials/admin/adminHeader}}
    <main class="flex-grow mt-14 p-5">
        <h2 class="my-4 text-bold text-[#E47B38] text-3xl  border-b-2 border-[#E47B38]">Solicitados para hoje - {{formattedDate}}</h2>
        <ul class="w-full flex flex-wrap justify-center gap-4 lg:justify-start">
            <!-- Agendamentos solicitados na data de hoje -->
            {{#todayList}}
                <li class="w-80 my-3 p-4 border-l-4 border-[#E47B38] rounded text-white bg-[#374A90]">
                    <div class="mb-4 border-b-2 border-white">
                        <span class="font-bold">Nome:</span> {{name}}
                    </div>

                    <div class="mb-4 border-b-2 border-white">
                        <span class="font-bold">Telefone:</span> {{phone}}
                    </div>

                    <div class="mb-4 border-b-2 border-white">
                        <span class="font-bold">E-mail:</span> {{email}}
                    </div>

                    <div class="mb-4 border-b-2 border-white">
                        <span class="font-bold">Data:</span> {{date}}
                    </div>  

                    <div class="mb-4 border-b-2 border-white">
                        <span class="font-bold">Hora:</span> {{hour}}
                    </div> 

                    <div class="flex justify-center gap-16">
                        <form id="accept-form" action="/pending-schedules" method="post" class="p-2 rounded font-bold bg-green-500">
                            <input type="hidden" name="id" value="{{id}}">
                            <input type="hidden" name="email" value="{{email}}">
                            <input type="hidden" name="status" value="confirmado">
                            <input type='submit' value='Aceitar' class="cursor-pointer" onclick="sendData(event, form)">
                        </form> 
    
                        <form id="refuse-form" action="/pending-schedules" method="post" class="p-2 rounded font-bold bg-red-500">
                            <input type="hidden" name="id" value="{{id}}">
                            <input type="hidden" name="email" value="{{email}}">
                            <input type="hidden" name="status" value="recusado">
                            <input type='submit' value='Recusar' class="cursor-pointer" onclick="sendData(event, form)">
                        </form>
                    </div>
                </li>
            {{/todayList}}
            {{^todayList}}
                <p class="text-bold text-[#374A90] text-2xl">Nenhum registro foi encontrado</p>
            {{/todayList}}
        </ul>
    
        <h2 class="my-4  text-bold text-[#E47B38] text-3xl  border-b-2 border-[#E47B38]">Próximos dias</h2>
        <ul class="w-full flex flex-wrap justify-center gap-4 lg:justify-start">
            <!-- Agendamentos solicitados para os próximos dias -->
            {{#list}}
            <li class="w-80 my-3 p-4 border-l-4 border-[#E47B38] rounded text-white bg-[#374A90]">
                <div class="border-b-2 border-white">
                    <span class="font-bold">E-mail:</span> {{email}}
                </div>

                <div class="my-4 border-b-2 border-white">
                    <span class="font-bold">Data:</span> {{date}}
                </div>  

                <div class="my-4 border-b-2 border-white">
                    <span class="font-bold">Hora:</span> {{hour}}
                </div> 

                <div class="flex justify-center gap-16">
                    <form id="accept-form" action="/pending-schedules" method="post" class="p-2 rounded font-bold bg-green-500">
                        <input type="hidden" name="id" value="{{id}}">
                        <input type="hidden" name="status" value="confirmado">
                        <input type='submit' value='Aceitar' class="cursor-pointer" onclick="sendData(event, this.form)">
                    </form> 

                    <form id="refuse-form" action="/pending-schedules" method="post" class="p-2 rounded font-bold bg-red-500">
                        <input type="hidden" name="id" value="{{id}}">
                        <input type="hidden" name="status" value="recusado">
                        <input type='submit' value='Recusar' class="cursor-pointer" onclick="sendData(event, this.form)">
                    </form>
                </div>
            </li>
            {{/list}}
            {{^list}}
                <p class="text-bold text-[#374A90] text-2xl">Nenhum registro foi encontrado</p>
            {{/list}}
        </ul>
    
        <hr/>
        <h2 class="my-4 text-bold text-[#E47B38] text-3xl">Pesquise por uma data:</h2>
        
        <!-- Campo para pesquisar os agendamentos pendentes de uma data específica -->
        <form action="/search-pending" method="get">
            <input type="date" name="search" id='date' class="pl-1 rounded bg-slate-100 outline-none border-b-2 text-black border-white focus:border-b-2 focus:border-[#374A90]">
            <input type="submit" value="pesquisar" class="p-1 ml-2 rounded cursor-pointer transition ease-in text-white bg-[#374A90]">
        </form>
    </main>

    {{>partials/footer/footer}}

    <!-- Códigos js específicos desta página -->
    <script src="/js/pendingSchedules.js"></script>
    
    <!-- códigos js compartilhados -->  
    <script src="/js/formattedDate.js"></script>
    <script src="/js/menu.js"></script>
</body>
</html>