<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST">
            {{#question1}}
                <label for="answer1" class="font-bold">{{question1}}</label> <br>
                <input type="text" name="answer1" id="answer1" required autocomplete="off" maxlength="50" class="pl-1 rounded bg-slate-100 outline-none border-b-2 text-black border-white focus:border-b-2 focus:border-[#374A90]"> <br><br>
            {{/question1}} 

            {{#question2}}
                <label for="answer2" class="font-bold">{{question2}}</label> <br>
                <input type="text" name="answer2" id="answer2" required autocomplete="off" maxlength="50" class="pl-1 rounded bg-slate-100 outline-none border-b-2 text-black border-white focus:border-b-2 focus:border-[#374A90]"> <br><br>
            {{/question2}}  

            <button>Enviar</button>
    </form>

    <script>
        // Limita a usuários com 18 anos ou mais
        const form = document.querySelector('form');

        // Envia os dados para o backend
        form.addEventListener('submit', async (event) => {
            event.preventDefault();

            const answer1 = form.querySelector('[name="answer1"]').value;
            const answer2 = form.querySelector('[name="answer2"]').value;

            const requestData = {
                answer1,
                answer2
            };

            try {
                const response = await fetch('/question', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(requestData)
                });

                const responseData = await response.json();

                if (response.ok) {
                    alert('Respostas corretas!');
                    window.location.href = '/reset-password';
                } else if (response.status === 400) {
                    if (responseData.errors) {
                        alert(responseData.errors);
                    } else if (responseData.error) {
                        alert(responseData.error);
                    }
                } else if(response.status === 429) {
                    alert(responseData.limitError);
                } else if(response.status === 500) {
                    alert('erro no alert do controller');
                    window.location.href = '/register';
                }
            } catch (error) {
                alert('Ocorreu um erro ao processar sua solicitação. Por favor, tente novamente mais tarde.');
            }
        });
    </script>
</body>
</html>