<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/output.css">
</head>
<body class="container mx-auto bg-[#374A90]">
    <main class="w-full h-screen flex justify-center items-center">
        <form action="/register" method="post" class="bg-[#E47B38] p-8 border-4 border-l-0 border-t-0 border-orange-700 rounded text-white">
            <label for="name" class="font-bold">Digite seu  nome:</label> <br>
            <input type="text" name="name" id="name" required autocomplete="off" maxlength="50" class="pl-1 rounded bg-slate-100 outline-none border-b-2 text-black border-white focus:border-b-2 focus:border-[#374A90]"> <br><br>

            <label for="date" class="font-bold">Digite sua data de nascimento:</label> <br>
            <input type="date" name="date" id="date" required class="pl-1 rounded bg-slate-100 outline-none border-b-2 text-black border-white focus:border-b-2 focus:border-[#374A90]"> <br><br>

            <label for="email" class="font-bold">Digite seu e-mail:</label> <br>
            <input type="email" name="email" id="email" required autocomplete="off" maxlength="50" class="pl-1 rounded bg-slate-100 outline-none border-b-2 text-black border-white focus:border-b-2 focus:border-[#374A90]"> <br><br>

            <label for="phone" class="font-bold">Digite seu número de telefone:</label> <br>
            <input type="tel" name="phone" id="phone" required autocomplete="off" maxlength="15" class="pl-1 rounded bg-slate-100 outline-none border-b-2 text-black border-white focus:border-b-2 focus:border-[#374A90]"> <br><br>

            <label for="password" class="font-bold">Digite sua senha: </label> <br>
            <input type="password" name="password" id="password" required maxlength="16" class="pl-1 rounded bg-slate-100 outline-none border-b-2 text-black border-white focus:border-b-2 focus:border-[#374A90]"> <br><br>

            <label for="question1">Primeira pergunta de segurança:</label>
            <select id="question1" name="question1" required onchange="updateSelectOptions(this.value)">
                <option value="" disabled selected>-- Selecione uma pergunta --</option>
                <option value="nome_da_mae">Qual é o nome da sua mãe?</option>
                <option value="nome_do_animal">Qual é o nome do seu animal de estimação?</option>
            </select>

            <br>

            <label for="answer1">Responda à primeira pergunta:</label>
            <input type="text" id="answer1" name="answer1" required autocomplete="off" maxlength="30">
            <br><br>
            
            <label for="question2">Segunda pergunta de segurança:</label>
            <select id="question2" name="question2" required onchange="updateSelectOptions(this.value)">
                <option value="" disabled selected>-- Selecione uma pergunta --</option>
                <option value="nome_da_mae">Qual é o nome da sua mãe?</option>
                <option value="nome_do_animal">Qual é o nome do seu animal de estimação?</option>
            </select>

            <br>

            <label for="answer2">Responda à segunda pergunta:</label>
            <input type="text" id="answer2" name="answer2" required autocomplete="off" maxlength="30">
            <br>

            <input type="submit" value="Registrar" class="w-full border-2 p-1 rounded cursor-pointer transition ease-in font-bold bg-[#E47B38] hover:border-[#374A90] hover:bg-[#374A90] hover:scale-105">
        </form>
    </main>

    <script>
        // Limita a usuários com 18 anos ou mais
        const form = document.querySelector('form');
  
        const birthDateInput = document.getElementById("date");

        const today = new Date();
        const maxAgeDate = new Date(today.getFullYear() - 18, today.getMonth(), today.getDate());

        const maxYear = maxAgeDate.getFullYear();
        const maxMonth = (maxAgeDate.getMonth() + 1).toString().padStart(2, '0');
        const maxDay = maxAgeDate.getDate().toString().padStart(2, '0');
        birthDateInput.setAttribute("max", `${maxYear}-${maxMonth}-${maxDay}`);

        // inputmask como o campo telefone
        const phoneInput = document.getElementById('phone');
  
        phoneInput.addEventListener('input', (event) => {
            const input = event.target.value.replace(/\D/g, '');
            const formattedInput = formatPhoneNumber(input);
        
            phoneInput.value = formattedInput;
        });
        
        function formatPhoneNumber(value) {
            const cleanedValue = value.replace(/\D/g, '');
            const match = cleanedValue.match(/^(\d{2})(\d{0,5})(\d{0,4})$/);
            
            if (match) {
                return '(' + match[1] + ') ' + match[2] + (match[2] && match[3] ? '-' : '') + match[3];
            }
    
            return value;
        }

        // Impede que uma mesma pergunta seja escolhida duas vezes
        function updateSelectOptions(selectedValue) {
            const selects = document.querySelectorAll('select');
            
            for (let i = 0; i < selects.length; i++) {
                const select = selects[i];
                if (select.value !== selectedValue) {
                    const option = select.querySelector(`option[value="${selectedValue}"]`);
                    if (option) {
                        option.disabled = true;
                    }
                }
            }
        }

        // Envia os dados para o backend
        form.addEventListener('submit', async (event) => {
            event.preventDefault();

            const name = form.querySelector('[name="name"]').value;
            const date = form.querySelector('[name="date"]').value;
            const email = form.querySelector('[name="email"]').value;
            const phone = form.querySelector('[name="phone"]').value;
            const password = form.querySelector('[name="password"]').value;
            const question1 = form.querySelector('[name="question1"]').value;
            const answer1 = form.querySelector('[name="answer1"]').value;
            const question2 = form.querySelector('[name="question2"]').value;
            const answer2 = form.querySelector('[name="answer2"]').value;

            const requestData = {
                name,
                date,
                email,
                phone,
                password,
                question1,
                answer1,
                question2,
                answer2
            };

            try {
                const response = await fetch('/register', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(requestData)
                });

                const responseData = await response.json();

                if (response.ok) {
                    alert('Cadastro realizado com sucesso!');
                    window.location.href = '/login';
                } else if (response.status === 400) {
                    if (responseData.errors) {
                        alert(responseData.errors.join('\n'));
                    } else if (responseData.error) {
                        alert(responseData.error);
                    }
                } else if(response.status === 500) {
                    alert('erro no alert do controller');
                    window.location.href = '/register';
                }
            } catch (error) {
                alert('Ocorreu um erro ao processar sua solicitação. Por favor, tente novamente mais tarde.');
            }
        });
    </script>
</body>
</html>