<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="/css/output.css">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
</head>
<body class="mx-auto h-screen flex flex-col bg-[#374A90]">
    <main class="flex flex-grow justify-center">
        <form action="/register" method="post" class="w-2/3 h-5/6 flex flex-col items-center p-4 m-10 overflow-y-scroll border-4 border-l-0 border-t-0 bg-[#E47B38] border-orange-700 rounded text-white lg:h-max lg:overflow-y-hidden">
            <div class="flex flex-col justify-between gap-5 mb-4 lg:flex-row">            
                <div id="dados-pessoais" class="w-full flex flex-col lg:w-1/2">
                    <fieldset class="border p-4 rounded-lg">
                        <legend class="text-lg font-semibold text-white">Dados pessoais</legend>
                        
                        <label for="name" class="font-bold text-lg md:text-3xl lg:text-lg">Nome:</label>
                        <input type="text" name="name" id="name" required autocomplete="off" placeholder="ex: Marcos Oliveira da Silva" maxlength="50" class="w-full pl-1 rounded bg-slate-100 outline-none border-b-2 text-black focus:border-b-2">
                        <div id="nameError" class="text-red-700"></div>
                        <div><br></div>
                        <label for="date" class="font-bold text-lg md:text-3xl lg:text-lg">Data de nascimento:</label>
                        <input type="date" name="date" id="date" required class="w-full pl-1 rounded bg-slate-100 outline-none border-b-2 text-black border-white focus:border-b-2">
                        <div id="dateError" class="text-red-700"></div>
                        <br>
                        <label for="email" class="font-bold text-lg md:text-3xl lg:text-lg">E-mail:</label>
                        <input type="email" name="email" id="email" required autocomplete="off" placeholder="ex: marcos@email.com" maxlength="50" class="w-full pl-1 mr-2 rounded bg-slate-100 outline-none border-b-2 text-black focus:border-b-2">
                        <div id="emailError" class="text-red-700"></div>
                        <br>
                        <label for="phone" class="font-bold text-lg md:text-3xl lg:text-lg">Número de telefone:</label>
                        <input type="tel" name="phone" id="phone" required autocomplete="off" placeholder="ex: (11) 98765-4321" maxlength="15" class="w-full pl-1 rounded bg-slate-100 outline-none border-b-2 text-black focus:border-b-2">
                        <div id="phoneError" class="text-red-700"></div>
                        <br>
                        <label for="password" class="font-bold text-lg md:text-3xl lg:text-lg">Senha: </label>
                        <input type="password" name="password" id="password" required placeholder="ex: minhaSenha*123" maxlength="16" class="w-full pl-1 rounded bg-slate-100 outline-none border-b-2 text-black focus:border-b-2">
                        <div id="passwordError" class="text-red-700"></div>
                    </fieldset>
                </div>
                
                <div id="perguntas-seguranca" class="w-full flex flex-col lg:w-1/2">
                    <fieldset class="border p-4 rounded-lg">
                        <legend class="text-lg font-semibold text-white">
                            Perguntas de segurança
                        </legend>

                        <label for="question1" class="font-bold text-lg md:text-3xl lg:text-lg">Primeira pergunta de segurança:</label>
                        <select id="question1" name="question1" required onchange="updateSelectOptions(this.value)" class="w-full pl-1 rounded bg-slate-100 outline-none border-b-2 text-black border-white">
                            <option value="" disabled selected>-- Selecione uma pergunta --</option>
                            <option value="nome_da_mae">Qual é o nome da sua mãe?</option>
                            <option value="nome_do_animal">Qual é o nome do seu animal de estimação?</option>
                        </select>
                        <br>
                        <label for="answer1" class="font-bold text-lg md:text-3xl lg:text-lg">Responda a primeira pergunta:</label>
                        <input type="text" id="answer1" name="answer1" required autocomplete="off" maxlength="30" class="w-full pl-1 rounded bg-slate-100 outline-none border-b-2 text-black focus:border-b-2">
                        <div id="answer1Error" class="text-red-500"></div>
                        <br>
                        
                        <label for="question2" class="font-bold text-lg md:text-3xl lg:text-lg">Segunda pergunta de segurança:</label>
                        <select id="question2" name="question2" required onchange="updateSelectOptions(this.value)" class="w-full pl-1 rounded bg-slate-100 outline-none border-b-2 text-black border-white">
                            <option value="" disabled selected>-- Selecione uma pergunta --</option>
                            <option value="nome_da_mae">Qual é o nome da sua mãe?</option>
                            <option value="nome_do_animal">Qual é o nome do seu animal de estimação?</option>
                        </select>
                        <br>
                        <label for="answer2" class="font-bold text-lg md:text-3xl lg:text-lg">Responda a segunda pergunta:</label>
                        <input type="text" id="answer2" name="answer2" required autocomplete="off" maxlength="30" class="w-full pl-1 rounded bg-slate-100 outline-none border-b-2 text-black focus:border-b-2">
                        <div id="answer2Error" class="text-red-500"></div>
                    </fieldset>
                </div>
            </div>
            
            <input type="submit" value="Registrar" class="w-max border-2 py-1 px-10 rounded cursor-pointer transition ease-in font-bold bg-[#E47B38] hover:border-[#374A90] hover:bg-[#374A90] hover:scale-105 md:text-xl xl:text-lg">

            <div class="self-end mt-4 md:text-xl xl:text-lg">Já possui uma conta ? Clica <a href="/login" class="underline hover:text-[#374A90]">aqui</a></div>
        </form>
    </main>

    {{>partials/footer/footer}}

    <!-- Códigos js específicos desta página -->
    <script src="/js/signUp.js"></script>
    <script src="/js/ofLegalAge.js"></script>
</body>
</html>