<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST">
                <label for="new_password" class="font-bold">Digite sua nova senha:</label> <br>
                <input type="password" name="new_password" id="new_password" required class="pl-1 rounded bg-slate-100 outline-none border-b-2 text-black border-white focus:border-b-2 focus:border-[#374A90]"> <br><br> 

                <label for="confirm_password" class="font-bold">Confirme sua nova senha:</label> <br>
                <input type="password" name="confirm_password" id="confirm_password" required class="pl-1 rounded bg-slate-100 outline-none border-b-2 text-black border-white focus:border-b-2 focus:border-[#374A90]"> <br><br>  

            <button>Enviar</button>
    </form>

    <script>
        // Limita a usuários com 18 anos ou mais
        const form = document.querySelector('form');

        // Envia os dados para o backend
        form.addEventListener('submit', async (event) => {
            event.preventDefault();

            const newPassword = form.querySelector('[name="new_password"]').value;
            const confirmPassword = form.querySelector('[name="confirm_password"]').value;

            const requestData = {
                newPassword,
                confirmPassword
            };

            try {
                const response = await fetch('/reset-password', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(requestData)
                });

                const responseData = await response.json();

                if (response.status === 200) {
                    alert(responseData.success);
                    window.location.href = '/login';
                } else if (response.status === 400) {
                    if (responseData.errors) {
                        alert(responseData.errors.join('\n'));
                    } else if (responseData.error) {
                        alert(responseData.error);
                    }
                } else if(response.status === 429) {
                    alert(responseData.limitError);
                } else if(response.status === 500) {
                    alert('erro no alert do controller');
                    window.location.href = '/register';
                }
            } catch (error) {
                alert('Ocorreu um erro ao processar sua solicitação. Por favor, tente novamente mais tarde.');
            }
        });
    </script>
</body>
</html>