<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redefinir senha</title>
    <link rel="stylesheet" href="/css/output.css">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
</head>
<body class="mx-auto h-screen flex flex-col bg-[#374A90]">
    <main class="flex flex-col flex-grow justify-center items-center">
        <form action="" method="POST" class="w-3/5 flex flex-col p-4 border-4 border-l-0 border-t-0 bg-[#E47B38] border-orange-700 rounded text-white md:w-2/5 lg:w-1/3">
            <label for="new_password" class="font-bold text-lg md:text-3xl lg:text-lg">Digite sua nova senha:</label>
            <input type="password" name="new_password" id="new_password" required maxlength="16" class="w-full pl-1 rounded bg-slate-100 outline-none border-b-2 text-black border-white focus:border-b-2 focus:border-[#374A90]"> <br>

            <label for="confirm_password" class="font-bold text-lg md:text-3xl lg:text-lg">Confirme sua nova senha:</label>
            <input type="password" name="confirm_password" id="confirm_password" required maxlength="16" class="w-full pl-1 rounded bg-slate-100 outline-none border-b-2 text-black border-white focus:border-b-2 focus:border-[#374A90]"> <br>

            <button class="self-center border-2 py-1 px-4 rounded cursor-pointer transition ease-in font-bold bg-[#E47B38] hover:border-[#374A90] hover:bg-[#374A90] hover:scale-105 md:text-xl xl:text-lg">Redefinir senha</button>
        </form>
    </main>

    {{>partials/footer/footer}}

    <!-- Códigos js específicos desta página -->
    <script src="/js/resetPassword.js"></script>
</body>
</html>