<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{#userEmail}}
        <h1>Bem vindo, {{userEmail}}!</h1>
    {{/userEmail}}
    {{^userEmail}}
        <h1>Bem vindo!</h1>
    {{/userEmail}}
    <p>O que deseja fazer ?</p>

    <a href='/schedule-form'>Fazer um agendamento</a> <br/>
    <a href='/my-schedules'>Agendamentos confirmados</a>
</body>
</html>