<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{tittle}}</title>
    <link rel="stylesheet" href="/css/output.css">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
</head>
<body class="mx-auto h-screen flex flex-col itens-center">
    <header class="w-full h-20 flex fixed top-0 left-0 justify-between items-center px-8 py-4 bg-[#E47B38]">
        <div class="text-2xl font-bold">
            LOGO
        </div>
            
        <div id="menu">
            <ul class="hidden w-full h-96 z-50 absolute top-0 left-0 flex-col justify-center items-center gap-4 rounded-b-lg bg-[#E47B38] shadow-xl text-white md:flex md:w-max md:h-max md:relative md:flex-row md:bg-[#E47B38] md:shadow-none">
                <li id="close-menu" class="absolute top-0 right-0 self-end py-2 px-4 m-2 border-2 border-white rounded-full cursor-pointer hover:border-[#374A90] hover:text-[#374A90] transition ease-in md:hidden">
                    X
                </li>

                <li class="p-2 border-b rounded font-bold">
                    {{#name}}
                        {{.}}
                    {{/name}}
                </li>

                <li>
                    <a href="/schedule-form" class="font-bold hover:underline hover:text-[#374A90] transition ease-in">Realizar agendamento</a>
                </li>

                <li>
                    <a href="/my-schedules" class="font-bold hover:underline hover:text-[#374A90] transition ease-in">Meus agendamentos</a>
                </li>

                <li class="absolute bottom-0 right-0 self-end m-2 border-white cursor-pointer md:relative">
                    <form id="logout-form" action="/logout" method="post" class='flex items-center gap-2 p-2 border rounded font-bold cursor-pointer hover:underline hover:border-[#374A90] hover:text-[#374A90] transition ease-in'>
                        <input type='submit' value='Sair' class='cursor-pointer'>
                        <svg class="w-8 h-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15M12 9l-3 3m0 0l3 3m-3-3h12.75" />
                        </svg>   
                    </form>
                </li>
            </ul>
        </div>

        <div class="md:hidden" id="menu-btn">
            <svg class="w-20 h-20 cursor-pointer stroke-[#374A90]" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
              </svg>     
        </div>
    </header>